<h1>Dr Satish Rachapalli</h1>

<div class="container">
<%= form_tag 'patient', method: :get do %>
<div class="form-group">
<%= label_tag :name %>
<%= text_field_tag :name, nil, :placeholder => "name", class: "form-control", id: "name" %>
</div>
<div class="form-group">
<%= label_tag :Gender %>
<%= select_tag :gender, "<option>Male</option><option>Female</option>".html_safe, class: "form-control", id: "name" %>
</div>
<div class="form-inline"> 
<%= label_tag :main_complaint %>
<%= text_field_tag :main_complaint , nil , placeholder: "main complaint", class: "form-control", :id => "form-control" %>
</div>
<div class="form-inline">
<%= label_tag :since_how_long %>
<%= text_field_tag :since_how_long , nil, :placeholder => "duration", :class => "form-control", :id => "form-control" %>
</div>
<br>
<div class="form-group">
<%= text_area_tag :additional_details,nil, :placeholder => "additional details", size: "40x7", id: "detail_box", class: "form-control" %>
</div>

<div class="form-group">
<p>Do you have <u>pain</u> in any of these joints?</p>
<%= label_tag :Fingers,"Fingers", :id => "labels" %>
<%= check_box_tag("pains[]","fingers",false, :class => "checkbox-inline") %>
<%= label_tag :Wrists,"Wrists",:id => "labels" %>
<%= check_box_tag("pains[]","wrists", false, :class => "checkbox-inline") %>
<%= label_tag :Elbows,"Elbows",:id => "labels" %>
<%= check_box_tag("pains[]", "elbows", false, :class => "checkbox-inline") %>
<%= label_tag :Shoulders,"Shoulders", :id => "labels" %>
<%= check_box_tag("pains[]","shoulders", false, :class => "checkbox-inline")%>
<%= label_tag :Hips,"Hips", :id => "labels" %>
<%= check_box_tag("pains[]","hips", false, :class => "checkbox-inline")%>
<%= label_tag :Knees,"Knees", :id => "labels" %>
<%= check_box_tag("pains[]","knees", false, :class => "checkbox-inline")%>
<%= label_tag :Ankles,"Ankles",:id => "labels" %>
<%= check_box_tag("pains[]","ankles", false, :class => "checkbox-inline") %>
<%= label_tag :Toes,"Toes", :id => "labels" %>
<%= check_box_tag("pains[]","toes", false, :class => "checkbox-inline") %>
<%= label_tag :Back,"Back", :id => "labels" %>
<%= check_box_tag("pains[]","back", false, :class => "checkbox-inline") %>
<%= label_tag :Neck,"Neck", :id => "labels" %>
<%= check_box_tag("pains[]","neck", false, :class => "checkbox-inline") %>
</div>

<div class="form-group">
<p>Do you have <u>swelling</u> in any of these joints?</p>
<%= label_tag :Fingers, "Fingers", :id => "labels" %>
<%= check_box_tag("swellings[]","fingers", false, :class => "checkbox-inline") %>
<%= label_tag :Wrists ,"Wrists", :id => "labels"%>
<%= check_box_tag("swellings[]","wrists", false, :class => "checkbox-inline") %>
<%= label_tag :Elbows , "Elbows", :id => "labels" %>
<%= check_box_tag("swellings[]","elbows", false, :class => "checkbox-inline") %>
<%= label_tag :Shoulders , "Shoulders", :id => "labels"%>
<%= check_box_tag("swellings[]", "shoulders", false, :class => "checkbox-inline") %>
<%= label_tag :Hips , "Hips", :id => "labels" %>
<%= check_box_tag("swellings[]", "hips", false, :class => "checkbox-inline") %>
<%= label_tag :Knees , "Knees", :id => "labels" %>
<%= check_box_tag("swellings[]", "knees", false, :class => "checkbox-inline") %>
<%= label_tag :Ankles, "Ankles", :id => "labels"%>
<%= check_box_tag("swellings[]", "ankles", false, :class => "checkbox-inline") %>
<%= label_tag :Toes, "Toes", :id => "labels" %>
<%= check_box_tag("swellings[]", "toes", false, :class => "checkbox-inline") %>
<%= label_tag :Back, "Back", :id => "labels" %>
<%= check_box_tag("swellings[]", "back", false, :class => "checkbox-inline") %>
<%= label_tag :Neck, "Neck", :id => "labels" %>
<%= check_box_tag("swellings[]", "neck", false, :class => "checkbox-inline") %>
</div>

<div class="form-group">
<p>Are the Symptoms worse after activity or after rest?</p>
<%= label_tag :After_Activity %>
<%= check_box_tag("options[]", "after activity", false, :class => "checkbox-inline") %> 
<%= label_tag :After_Rest %>
<%= check_box_tag("options[]", "after rest", false, :class => "checkbox-inline") %>
<%= label_tag :Both %>
<%= check_box_tag("options[]", "after both activity and rest", false, :class => "checkbox-inline") %>
</div>


<div class="form-group">
<p>Do you suffer from stiffness in the joints/muscles in the morning?</p> 
<%= label_tag :Yes %>
<%= check_box_tag :morning_stiffness, "Yes", false, :class => "checkbox-inline" %> 
<%= label_tag :No %>
<%= check_box_tag :morning_stiffness, "No", false, :class => "checkbox-inline" %>
</div>
<div class="form-group">
<p><u>If yes, for how many minutes in the morning?</u></p>
<%= number_field_tag :morning_stiffness_duration, nil, class: "form-control"%>
</div>

<p><u>Do you have/had any of the following problems</u></p>
<div class="checkbox">
<%= check_box_tag("disease[]", "Psoriasis", false, :class => "checkbox")%>
<%= label_tag :Psoriasis_of_skin? %>
</div>
<div class="checkbox">
<%= check_box_tag("disease[]", "inflammatory bowel disease", false, :class => "checkbox")%>
<%= label_tag "Crohn's disease or Ulcerative colitis?" %>
</div>
<div class="checkbox">
<%= check_box_tag("disease[]", "hair loss", false, :class => "checkbox") %>
<%= label_tag "Hair loss?" %>
</div>
<div class="checkbox">
<%= check_box_tag("disease[]", "sicca symptoms", false, :class => "checkbox") %>
<%= label_tag "Sicca Symptoms" %>
</div>
<div class="checkbox">
<%= check_box_tag("disease[]", "renal disease", false, :class => "checkbox")%>
<%= label_tag "Renal Disease" %>
</div>
<div class="checkbox">
<%= check_box_tag("disease[]","raynaud's", false, :class => "checkbox")%>
<%= label_tag "Raynaud's" %>
</div>
<div class="checkbox">
<%= check_box_tag("disease[]", "malar rash or photo sensitivity", false, :class => "checkbox" )%>
<%= label_tag "Malar Rash or Photo Sensitivity?" %>
</div>
<div class="checkbox">
<%= check_box_tag("disease[]","recurrent mouth ulcers", false, :class => "checkbox") %>
<%= label_tag "Recurrent mouth ulcers?" %>
</div>
<div class="checkbox">
<%= check_box_tag("disease[]", "DVT or PE", false, :class => "checkbox") %>
<%= label_tag :DVT_or_PE, "DVT or PE" %>
</div>
<div class="checkbox">
<%= check_box_tag("disease[]","shortness of breath or unexplained chest pain", false, :class => "checkbox") %>
<%= label_tag "Shortness of breath/unexplained chest pain" %>
</div>
<div class="checkbox">
<%= check_box_tag("disease[]","iritis", false, :class => "checkbox") %>
<%= label_tag "Iritis" %>
</div>
<hr>
<p><strong><u>Vasculitis</u> Symptoms:</strong></p>
<div class="checkbox">
<%= check_box_tag("vasculitis[]","bronchial asthma", false, :class => "checkbox") %><%= label_tag "Bronchial asthma" %>
</div>
<div class="checkbox">
<%= check_box_tag("vasculitis[]","increased eosinophil count", false, :class => "checkbox") %><%= label_tag "Increased eosinophil count" %>
</div>
<div class="checkbox">
<%= check_box_tag("vasculitis[]","nose bleeds", false, :class => "checkbox") %><%= label_tag "Nose bleeds" %>
</div>
<div class="checkbox">
<%= check_box_tag("vasculitis[]","paresthesia", false, :class => "checkbox") %><%= label_tag "Paresthesia" %>
</div>
<div class="checkbox">
<%= check_box_tag("vasculitis[]","sinusitis", false, :class => "checkbox") %><%= label_tag "Sinusitis" %>
</div>
<hr>
<p><strong><u>Myositis</u> Symptoms:</strong></p>
<div class="checkbox">
<%= check_box_tag("myositis[]","weakness", false, :class => "checkbox") %><%= label_tag "Weakness" %>
</div>
<div class="checkbox">
<%= check_box_tag("myositis[]","dysphagia", false, :class => "checkbox") %><%= label_tag "Dysphagia" %>
</div>
<div class="checkbox">
<%= check_box_tag("myositis[]","dysphonia", false, :class => "checkbox") %><%= label_tag "Dysphonia" %>
</div>
<hr>
<p><strong><u>Fibromyalgia</u> Symptoms:</strong></p>
<div class="checkbox">
<%= check_box_tag("fibromyalgia[]","non restorative sleep", false, :class => "checkbox") %><%= label_tag "Non restorative sleep" %>
</div>
<div class="checkbox">
<%= check_box_tag("fibromyalgia[]","excessive fatigue", false, :class => "checkbox") %><%= label_tag "Excessive fatigue" %>
</div>
<div class="checkbox">
<%= check_box_tag("fibromyalgia[]","wide spread pain", false, :class => "checkbox") %><%= label_tag "Wide spread pain" %>
</div>
<div class="checkbox">
<%= check_box_tag("fibromyalgia[]","IBS", false, :class => "checkbox") %><%= label_tag "IBS" %>
</div>
<hr>

<div class="form-group">
<p><strong><u>Social History</u></strong></p>
<div id="labels_2">  
<%= label_tag :Smoker,"Smoker", :id => "labels" %>
<%= check_box_tag :smokes ,"smokes", false, :class => "checkbox-inline" %>
</div>
<%= text_area_tag("smoke_detail",nil, :placeholder => "additional details", size: "1x3", id: "detail_box_2", class: "form-control")%>
<br>

<div id="labels_2">  
<%= label_tag :Alcohol,"Alcohol", :id => "labels" %>
<%= check_box_tag :alcohol ,"alcohol", false, :class => "checkbox-inline" %>
</div>
<%= text_area_tag("alcohol_detail",nil, :placeholder => "additional details", size: "1x3", id: "detail_box_2", class: "form-control")%>
<br>

<div id="labels_2">  
<%= label_tag :Recreational_drugs,"Recreational Drugs", :id => "labels" %>
<%= check_box_tag :drugs ,"recreational drugs", false, :class => "checkbox-inline" %>
</div>
<%= text_area_tag("drug_detail",nil, :placeholder => "additional details", size: "1x3", id: "detail_box_2", class: "form-control")%>
<br>

<div class="form-group">
<%= text_area_tag("occupation", nil, :placeholder => "Occupation", size: "40x3", id: "detail_box_2", class: "form-control") %>
</div>
</div>

<div class="form-group">
<p><strong><u>Family History</u></strong></p>
<%= label_tag :SLE, "SLE", :id => "labels" %>
<%= check_box_tag("family[]","SLE", false, :class => "checkbox-inline") %>
<%= label_tag :Osteoarthritis ,"Osteoarthritis", :id => "labels"%>
<%= check_box_tag("family[]","osteoarthritis", false, :class => "checkbox-inline") %>
<%= label_tag :Rheumatoid_arthritis , "Rheumatoid Arthritis", :id => "labels" %>
<%= check_box_tag("family[]","rheumatoid arthritis", false, :class => "checkbox-inline") %>
<%= label_tag :Psoriasis , "Psoriasis", :id => "labels"%>
<%= check_box_tag("family[]", "Psoriasis", false, :class => "checkbox-inline") %>
<%= label_tag :IBD , "IBD", :id => "labels" %>
<%= check_box_tag("family[]", "IBD", false, :class => "checkbox-inline") %>
<%= label_tag :Uveitis , "Uveitis", :id => "labels" %>
<%= check_box_tag("family[]", "uveitis", false, :class => "checkbox-inline") %>
</div>
<div class="form-group">
<%= text_area_tag :family_details ,nil, :placeholder => "additional details", size: "40x7", id: "detail_box", class: "form-control" %>
</div>

<h1>Examination</h1>
<div class="form-group">
<%= label_tag :Rash, "Rash", :id => "labels" %>
<%= check_box_tag("examination[]","rash", false, :class => "checkbox-inline") %>
<%= label_tag :Lymphadenopathy ,"Lymphadenopathy", :id => "labels"%>
<%= check_box_tag("examination[]","lymphadenopathy", false, :class => "checkbox-inline") %>
<%= label_tag :Sclerodacty , "Sclerodactyly", :id => "labels" %>
<%= check_box_tag("examination[]","sclerodactyly", false, :class => "checkbox-inline") %>
<%= label_tag :Tophi , "Tophi", :id => "labels"%>
<%= check_box_tag("examination[]", "tophi", false, :class => "checkbox-inline") %>
</div>
<br>
<table class="table table-borderless">
<thead>
<tr><th><strong><u>Swelling Of Joints</u></strong></th>
<th><strong><u>Tenderness Of Joings</u></strong></th>
<th><strong><u>Additional Details</u></strong></th></tr>
</thead>
<tr><td>
<%= label_tag :MCP,"MCP", :id => "labels" %>
<%= check_box_tag :MCP_swelling,"MCP", false, :class => "checkbox-inline"%>
</td>
<td>
<%= label_tag :MCP,"MCP", :id => "labels" %>
<%= check_box_tag :MCP_tenderness,"MCP", false, :class => "checkbox-inline" %>
</td>
<td>
<%= text_area_tag :MCP_examination,nil, :placeholder => "additional details", size: "60x3", id: "detail_box_2", class: "form-control"%>
</td></tr>

<tr><td>
<%= label_tag :PIP,"PIP", :id => "labels"%>
<%= check_box_tag :PIP_swelling,"PIP", false, :class => "checkbox-inline" %>
</td>
<td>
<%= label_tag :PIP,"PIP", :id => "labels"%>
<%= check_box_tag :PIP_tenderness,"PIP", false, :class => "checkbox-inline" %>
</td>
<td>
<%= text_area_tag :PIP_examination, nil, :placeholder => "additional details", size: "1x3", id: "detail_box_2", class: "form-control" %>
<br>
</td></tr>

<tr><td>
<%= label_tag :DIP ,"DIP", :id => "labels" %>
<%= check_box_tag :DIP_swelling,"DIP", false, :class => "checkbox-inline" %>
</td>
<td>
<%= label_tag :DIP ,"DIP", :id => "labels" %>
<%= check_box_tag :DIP_tenderness,"DIP", false, :class => "checkbox-inline" %>
</td>
<td>
<%= text_area_tag :DIP_examination, nil, :placeholder => "additional details", size: "1x3", id: "detail_box_2", class: "form-control" %>
</td></tr>

<tr><td>
<%= label_tag :CMC,"1st CMC", :id => "labels" %>
<%= check_box_tag :CMC_swelling,"1st CMC", false, :class => "checkbox-inline" %>
</td><td>
<%= label_tag :CMC,"1st CMC", :id => "labels" %>
<%= check_box_tag :CMC_tenderness, "1st CMC", false, :class => "checkbox-inline" %>
</td>
<td>
<%= text_area_tag :CMC_examination, nil, :placeholder => "additional details", size: "1x3", id: "detail_box_2", class: "form-control" %>
</td></tr>

<tr><td>
<%= label_tag :Wrist,"Wrist", :id => "labels"%>
<%= check_box_tag :wrist_swelling,"wrist", false, :class => "checkbox-inline"%>
</td>
<td>
<%= label_tag :Wrist,"Wrist", :id => "labels"%>
<%= check_box_tag :wrist_tenderness,"wrist", false, :class => "checkbox-inline"%>
</td>
<td>
<%= text_area_tag :wrist_examination, nil, :placeholder => "additional details", size: "1x3", id: "detail_box_2", class: "form-control" %>
</td></tr>

<tr><td>
<%= label_tag :Elbow ,"Elbow", :id => "labels" %>
<%= check_box_tag :elbow_swelling,"elbow", false, :class => "checkbox-inline" %>
</td>
<td>
<%= label_tag :Elbow ,"Elbow", :id => "labels" %>
<%= check_box_tag :elbow_tenderness, "elbow", false, :class => "checkbox-inline" %>
</td>
<td>
<%= text_area_tag :elbow_examination, nil, :placeholder => "additional details", size: "1x3", id: "detail_box_2", class: "form-control" %>
</td></tr>

<tr><td>
<%= label_tag :Shoulder , "Shoulder", :id => "labels"%>
<%= check_box_tag :shoulder_swelling, "shoulder", false, :class => "checkbox-inline" %>
</td>
<td>
<%= label_tag :Shoulder , "Shoulder", :id => "labels"%>
<%= check_box_tag :shoulder_tenderness, "shoulder", false, :class => "checkbox-inline" %>
</td>
<td>
<%= text_area_tag :shoulder_examination, nil, :placeholder => "additional details", size: "1x3", id: "detail_box_2", class: "form-control" %>
</td></tr>

<tr><td>
<%= label_tag :Knees , "Knees", :id => "labels"%>
<%= check_box_tag :knee_swelling, "knee", false, :class => "checkbox-inline" %>
</td>
<td>
<%= label_tag :Knees , "Knees", :id => "labels"%>
<%= check_box_tag :knee_tenderness, "knee_t", false, :class => "checkbox-inline" %>
</td>
<td>
<%= text_area_tag :knee_examination, nil, :placeholder => "additional details", size: "1x3", id: "detail_box_2", class: "form-control" %>
</td></tr>

<tr><td>
<%= label_tag :Ankles , "Ankles", :id => "labels" %>
<%= check_box_tag :ankle_swelling, "ankle", false, :class => "checkbox-inline" %>
</td>
<td>
<%= label_tag :Ankles , "Ankles", :id => "labels" %>
<%= check_box_tag :ankle_tenderness, "ankle", false, :class => "checkbox-inline" %>
</td>
<td>
<%= text_area_tag :ankle_examination, nil, :placeholder => "additional details", size: "1x3", id: "detail_box_2", class: "form-control" %>
</td></tr>

<tr><td>
<%= label_tag :MTP , "MTP", :id => "labels"%>
<%= check_box_tag :MTP_swelling, "MTP", false, :class => "checkbox-inline" %>
</td>
<td>
<%= label_tag :MTP , "MTP", :id => "labels"%>
<%= check_box_tag :MTP_tenderness, "MTP", false, :class => "checkbox-inline" %>
</td>
<td>
<%= text_area_tag :MTP_examination, nil, :placeholder => "additional details", size: "1x3", id: "detail_box_2", class: "form-control" %>
</td></tr>

<tr><td><td><td>
<%= text_area_tag :hip_examination,nil, :placeholder => "Hips Examination", size: "40x3", id: "detail_box_2", class: "form-control" %>
</td></td></td></tr>


<tr><td><td><td>
<%= text_area_tag :spine_examination,nil, :placeholder => "Spine Examination", size: "40x3", id: "detail_box_2", class: "form-control" %>
</td></td></td></tr>
</table>

<%= submit_tag 'Submit', :class => "btn btn-default", :id => "submit_button" %>
<br>
<br>
<% end %>
</div>